<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_mybatis.mapper.TeacherMapper">
    <resultMap id="teacher" type="com.example.springboot_mybatis.entity.Teacher">
        <id column="teacher_id" jdbcType="INTEGER" property="teacher_id"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacher_name"/>

        <result column="teacher_dept_id" jdbcType="INTEGER" property="teacher_dept_id"/>

        <result column="teacher_tel" jdbcType="VARCHAR" property="teacher_tel"/>

        <result column="teacher_title" jdbcType="VARCHAR" property="teacher_title"/>

        <result column="teacher_address" jdbcType="VARCHAR" property="teacher_address"/>

        <result column="teacher_email" jdbcType="VARCHAR" property="teacher_email"/>
    </resultMap>
    <select id="findByName" resultType="com.example.springboot_mybatis.entity.Teacher">
        select * from teacher where teacher_name = #{name}
    </select>

    <select id="findAll" resultType="com.example.springboot_mybatis.entity.Teacher">
        select * from teacher
    </select>
    
</mapper>